ODOO_DOMAIN=erp.healthmate.live
ODOO_LETSENCRYPT_EMAIL=admin@healthmate.live
ODOO_POSTGRES_USER=odoo_prod
ODOO_POSTGRES_PASSWORD=change_me
ODOO_POSTGRES_DB=odoo_prod
ODOO_ADMIN_PASSWORD=change_me_too

